<section class="food_menu gray_bg"
    style="background-image: url(assets/img/new/cover.jpg);margin-top: 12%; margin-left: 5%;height: 590px;width: 1510px;">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="section_tittle">
                    <p></p>
                    <h2>OUR Team</h2>
                </div>
            </div>

            <div class="col-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active single-member" id="Special" role="tabpanel"
                        aria-labelledby="Special-tab">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="single_food_item media">
                                    <img src={{personnel.image}} class="mr-3" alt="..." style="width: 220%;height: 90%;">
                                    <div class="media-body align-self-center">
                                        <h5 style="font-family:verdana;"> <h1>Name of personel:</h1>{{personnel.name}}</h5>
                                        <h5 style="font-family:verdana;"><h1>Role:</h1> {{personnel.role}}</h5>
                                        <h5 style="font-family:verdana;"><h1>Tel: </h1>{{personnel.tel}}</h5>
                                    </div>
                                </div> 


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>