<section class="regervation_part section_padding"  style="margin-top: 12%;">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>EDIT PERSONNEL</p>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-lg-6">
                <div class="regervation_part_iner">
                    <form #editPersonnelForm="ngForm" (ngSubmit)='editPersonnel()'>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" [(ngModel)]="Personnel.name"
                                    [ngModelOptions]="{standalone: true}" placeholder="Name *">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" [(ngModel)]="Personnel.role"
                                    [ngModelOptions]="{standalone: true}" id="place" placeholder="Role *">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="tel" class="form-control" [(ngModel)]="Personnel.tel"
                                    [ngModelOptions]="{standalone: true}" id="nbPersonne" placeholder="Tel*">
                            </div>
                            
                            <div class="form-group col-md-6">
                                <div class="input-group date">
                                    <input id="datepicker" type="text" class="form-control" [(ngModel)]="Personnel.image"
                                        [ngModelOptions]="{standalone: true}" placeholder="Image *" />
                                </div>
                            </div>
                        </div>


                        <div class="regerv_btn">
                            <button type="submit" class="btn btn-primary py-3 px-5" > edit personnel  </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>