<section class="chefs_part blog_item_section section_padding"
    style="background-image: url(assets/img/new/dr.jpg);height: 890px;width: 620px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <br><br> <br> <br>
                    <h2 style="color: white;">Confirmed</h2>
                </div>
            </div>

            <!-- <div class="row"  > -->
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item">
                    <div class="single_blog_text text-center" style="margin-top: 35%;">
                        <h3>Name: {{reservationInput.name}}</h3>

                        <h3>place: {{reservationInput.place}}</h3>
                        <h3>NB Personnes: {{reservationInput.nbPersonnes}}</h3>
                        <h3>Tel: {{reservationInput.tel}}</h3>
                        <h3>Date of reservation: {{reservationInput.date}}</h3>
                        <h3>Time of reservation: {{reservationInput.time}}</h3>
                        <h4>Your Note: {{reservationInput.note}}</h4>

                    </div>
                </div>
            </div>

            <!-- </div> -->
        </div>
    </div>
</section>