
<section class="chefs_part blog_item_section section_padding"  style="background-image: url(assets/img/new/cov.jpg);height: 690px;width: 590px;" >
    <div class="container">

        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p >Team Member</p>
                    <h2>Our Experience Personnels</h2>
                </div>
            </div>
        
        <!-- <div class="row"  > -->
            <div class="col-sm-6 col-lg-4">
                <div class="single_blog_item"  style="width: 270px; height: 200px;">
                    <div class="single_blog_img" >
                        <img src="{{personnelInput.image}}" alt="">
                    </div>
                    <br><br>
                    <div class="single_blog_text text-center" >
                        <h3>{{personnelInput.name}}</h3>
                        <h3>{{personnelInput.role}}</h3>
                        <p>{{personnelInput.tel}}</p>
                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

    </div>
    </div>
</section>